services:
  postgres:
    image: postgres:16-alpine
    container_name: ads_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env.local
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    container_name: ads_app_prod
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    depends_on:
      - postgres
    environment:
      - NODE_ENV=production

volumes:
  postgres_data:
